<%= render 'layouts/side_panel' %>
<section id="goals-header">
  <%= fa_icon( "angle-down", text: "Current", right: true) %>
</section>

<section id="goals">

  <div class="goal-container">

 	<iframe src="https://www.google.com/calendar/embed?src=compassteens.org_37shup3jm2eldvqhcj9r018hec%40group.calendar.google.com&ctz=America/Toronto" style="border: 0" width="800" height="600" frameborder="1" scrolling="no"></iframe>

  </div>
</section>