<h1>Password Reset</h1>

<p>Hi <%= @user.full_name %>!</p>

<p>Your password was been changed to: <b><%= @new_password %></b></p>

<p>If you would like to change your password to something more rememberable, please be in touch with your mentor/advisor.</p>

<p>
  Regards, <br/>
  <%= ENV['TITLE'] %> Team
</p>
