<div class='unfound center-align'>
  <div class='icons'>
    <i class='material-icons'>search</i>
    <i class='material-icons close'>close</i>
    <i class='material-icons'>people</i>
  </div>
  <h4>We couldn't find a student with the username: <i><%= params[:username] %></i></h4>
  <a class='btn teal lighten-2' href=<%= "mailto:#{ENV['EMAIL']}" %> target="_top">Need help?</a>
</div>
