<nav>
  <div class="nav-wrapper">
    <div class="brand-logo">
      <%= link_to "Admin Dashboard", admin_dashboard_path, class: "bc" %>
      &nbsp;
      <%= fa_icon "angle-double-right", class: "no-padding bc", text: ((params[:role] == "student") ? "Student Account Settings" : "Account Settings" ) %>
    </div>
  </div>
</nav>

<section  class="section-container"

  <div class="row">
    <h3 class="teal-text col s12">Account Settings</h3>
  </div>

  <%= render 'form' %>

  <br>
  <br>

  <div class="delete-user">
    Delete Account<br>
    <span>Once you delete this account there is no going back. It is deleted permanently.</span>
  </div>

  <%= link_to 'Delete account', @user, method: :delete, data: 
    { confirm: 'Are you positive that you want to delete this account?' }, 
    class: 'delete btn red' %>

</section>