<nav>
  <div class="nav-wrapper">
    <%= link_to "Admin Dashboard", admin_dashboard_path, class: "breadcrumb" %>
    <span class="breadcrumb">Account Settings</span>
  </div>
</nav>

<section  class="section-container"

  <div class="row">
    <h3 class="teal-text col s12"><%= @user.full_name %> Account Settings</h3>
  </div>

  <%= render 'form' %>

  <br>
  <br>

  <div class="delete-user">
    Delete Account<br>
    <span>Once you delete this account there is no going back. It is deleted permanently.</span>
  </div>

  <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you positive that you want to delete this account?' }, class: 'btn red' %>

</section>
