<section  class="section-container" style="min-height: 100vh;">

  <div class="row">
    <h3 class="teal-text col s12">Edit Account</h3>
  </div>

  <%= render 'form' %>

  <br>
  <br>

  <div class="delete-user">
    Delete Account<br>
    <span>Once you delete your account there is no going back. It is deleted permanently.</span>
  </div>

  <%= link_to 'Delete account', @user, method: :delete, data: 
    { confirm: 'Are you positive that you want to delete this account?' }, 
    class: 'delete btn red' %>

</section>