<nav>
  <div class='nav-wrapper'>
    <%= link_to 'Dashboard', admin_dashboard_path, class: 'breadcrumb' %>
    <span class='breadcrumb'>Manage Students</span>
  </div>
</nav>

<%= react_component 'Students', {} %>
