<section class="section-container" id="unfound" style="min-height: 100vh;">
  <div class="thin-container">
    <h4 class="center-align">The user <b><%= params[:q] %></b> does not exist</h4>
    <br/>
    <h5 class="center-align">Please contact <%= ENV['TITLE'] %> at <%= ENV['EMAIL'] %></h5>
  </div>
</section>
