<div class="week-item">
  <h6 class="purple-text bold truncate">{{title}}</h6>
  <div class="event-instructor truncate">{{display_name}}</div>
  <div class="time truncate">{{start_time}} - {{end_time}}</div>
</div>