<section class="section-container">

  <div class="row">
    <h1 class="teal-text center-align">Edit Portfolio Piece</h1>
  </div>

  <% if flash[:alert] %>
    <script type="text/javascript">Materialize.toast("<%= flash[:alert] %>", 5000, "red lighten-1")</script>
  <% end %>

  <%= render 'form' %>
  
</section>