<nav>
  <div class="nav-wrapper">
    <div class="brand-logo">
      <%= link_to "Portfolio", user_projects_path, class: "bc" %>
      &nbsp;
      <%= fa_icon "angle-double-right", class: "no-padding bc", text: "Edit Portfolio Piece" %>
    </div>
  </div>
</nav>

<section class="section-container">

  <%= render 'form' %>
  
</section>