<nav>
  <div class="nav-wrapper">
    <%= link_to "Portfolio", user_projects_path(@user), class: "breadcrumb" %>
    <span class="breadcrumb">New Portfolio Piece</span>
  </div>
</nav>

<section class="section-container">

  <div class="row">
    <h3 class="teal-text col s12">New Portfolio Piece</h3>
  </div>

  <%= render 'form' %>

</section>
