<nav>
  <div class="nav-wrapper">
    <%= link_to "Resources", user_resources_path(@user), class: "breadcrumb" %>
    <span class="breadcrumb">Edit Resource</span>
  </div>
</nav>

<section class="section-container" style="min-height: 100vh;">

  <div class="row">
    <h3 class="teal-text col s12">Edit Resource</h3>
  </div>

  <%= render 'form' %>

</section>
