<nav>
  <div class='nav-wrapper'>
    <% if params[:general].present? %>
      <%= link_to 'Admin Dashboard', admin_dashboard_path, class: 'breadcrumb' %>
    <% else %>
      <%= link_to 'Resources', user_resources_path(@user), class: 'breadcrumb' %>
    <% end %>
    <span class='breadcrumb'>New Resource</span>
  </div>
</nav>

<section class='section-container'>

  <div class='row'>
    <h3 class='teal-text col s12'>New Resource</h3>
  </div>

  <%= render 'form' %>

</section>
