<nav>
  <div class='nav-wrapper'>
    <%= link_to 'Dashboard', admin_dashboard_path, class: 'breadcrumb' %>
    <%= link_to 'Teacher Feedback', feedbacks_path, class: 'breadcrumb' %>
    <span class='breadcrumb'>New</span>
  </div>
</nav>

<section class='section-container'>
  <div class='row'>
    <h3 class='teal-text col s12'>New Feedback</h3>
  </div>
  <div class='row'>
    <%= render 'form' %>
  </div>
</section>
