<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">Action Plan</span>
  </div>
</nav>

<section id="action-plan">
  <ul class="tabs z-depth-1">
    <li class="tab"><a href="#todo-action-plan">Todo List</a></li>
    <li class="tab"><a href="#meetings-action-plan">Meetings</a></li>
    <li class="tab"><a href="#goals-action-plan">Goals</a></li>
  </ul>

  <%= react_component "KlassesDisplay" %>

  <section class="action-plan-container" id="todo-action-plan">
    <%= react_component "ToDo", { userId: current_user.id, meetingTime: current_user.meeting_time, authenticityToken: form_authenticity_token } %>
  </section>

  <section class="action-plan-container" id="meetings-action-plan">
    <%= react_component "Meeting", {userId: current_user.id, 
      authenticityToken: form_authenticity_token, admin_id: session[:admin_id] } %>
  </section>

  <section class="action-plan-container" id="goals-action-plan">
    <%= react_component "Goals", {userId: current_user.id, authenticityToken: form_authenticity_token} %>
  </section>

</section>

