<div class="goal-title"><%= goal.title %></div>
<div class="goal-description"><%= goal.description %></div>
<div class="goal-container-footer">
  <div class="goal-inner-container-footer">
    <label class="goal-label">DATE SET</label>
    <div class="goal-date-set"><%= goal.created_at %>></div>
  </div>
  <div class="goal-inner-container-footer">
    <label class="goal-label">DEAD LINE</label>
    <div class="goal-date-set"><%= goal.due_date %></div>
  </div>
  <div class="goal-inner-container-footer">
    <label class="goal-label">MENTOR</label>
    <div class="goal-date-set">Steven</div>
  </div>
</div>