<section id="goals-header">
  <%= fa_icon( "angle-down", text: "Current", right: true) %>
</section>

<section id="goals-side-panel">
  
</section>

<section id="goals">
  <div class="add-goal">
   <%= link_to fa_icon("plus-circle", text: "Add Goal"), new_user_goal_path %> 
  </div> 

  <div class="goal-container">
    <%= render @goals %>
  </div>
</section>