<section id="goals-header">
  <%= fa_icon( "angle-down", text: "Current", right: true) %>
</section>

<section id="goals-side-panel">
  
</section>

<section id="goals">
  <div class="add-goal">
   <%= fa_icon("plus-circle", text: "Add Goal") %> 
  </div> 

<!--   <div class="goal-container">
    <div class="goal-title">Build university direction</div>
    <div class="goal-description">Register for university courses to register in the fall</div>
    <label class="goal-label">Date Set</label>
    <div class="goal-date-set">March 18 2016</div>
  </div> -->
</section>