<section id="goals-header">
  <%= fa_icon( "angle-down", text: "Current", right: true) %>
</section>

<section id="goals-side-panel">
  
</section>

<section id="goals">
	<div class="goal-container">
		
  	</div>
</section>
