<section id="actions-header">
  <%= link_to fa_icon("angle-left", text: @goal.title), user_goals_path, class: 'back' %>
  <%= link_to fa_icon("plus-circle"), "#", class: 'add' %>
</section>

<section id="actions">

</section>

