@import "lib";

section#actions-header{
	position: absolute;
	top: 0;
	left: 250px;
	height: 70px;
	width: calc(100vw - 250px - 8rem);
	background-color: #333;
	color: #eee;
	font-size: 1.5rem;
	line-height: 70px;
	padding: 0 4rem;


	a.add{
		float: right;
		height: 70px;
		line-height: 70px;
		color: #eee;
	}

	a.back{
		height: 70px;
		line-height: 70px !important;
		float: left;
		i{
			float: left;
			color: #ee6508; 
			font-size: 2.5rem;
			padding-right: 2.5rem;
			height: 70px;
			line-height: 70px !important;
		}
	}
}

section#actions{
  width: calc(100vw - 500px - 4rem);
  min-width: 30rem;
  background-color: #eee;
  position: absolute;
  top: 70px;
  left: 500px;
  min-height: calc(100vh - 70px - 4rem);
  padding: 2rem;
}

section#new-action{
	font: 300 1.1rem 'Roboto', helvetica, sans-serif;
	background-color: #fff;
	padding: 1.5rem;

	label{
		display: block;
		text-transform: uppercase;
		width: 100%;
		color: #aaa;
		padding-left: 0.5rem;
		padding-bottom: 0.5rem;
		font-size: 0.8rem;
	}

	input, textarea{
		display: block;
		width: 100%;
		background-color: #eee;
		border: none;
		color: #777;
		padding: 0.5rem;
		font-size: 1rem;
		margin-bottom: 1rem;
		font-weight: 300;
	}

	input.due-date{
		max-width: 200px;
	}

	div.action-item{
		padding: 1rem;
		color: #ee6508;
	}
}