@import "font-awesome";
@import "materialize/components/color";
$primary-color: color("grey", "darken-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("orange", "darken-3") !default;
$success-color: color("teal", "base") !default;
$error-color: color("red", "lighten-1") !default;
$link-color: color("orange", "darken-1") !default;
@import "materialize";
@import "category";
@import "grid";
@import "layouts";
@import "projects";
@import "users";
@import "resources";
@import "sessions";

body{
	background-color: #222;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', helvetica, sans-serif;
}

nav{
  background-color: #343434;
  padding: 0 5%;
}

.select-dropdown li span{
  color: #222;
  font-size: 0.85rem;
  padding: 0.75rem;
}

a, button{
  text-decoration: none;
  color: inherit;
  &::visited{
    color: #789;
  }

  &:focus{
    outline-style: none;
  }
}

input, textarea{
  margin-bottom: 0px !important;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

label{
  font-weight: 300;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

hr{
  width: 10%;
  opacity: 0.7;
  margin: 1rem auto 2rem;
}

.error-message{
  color: #f44336;
  font-size: 0.75rem;
}

.thin{
  font-weight: 300;
}

.normal{
  font-weight: 400;
}

.thick{
  font-weight: 700;
}

i.fa{
  padding-right: 10px;
}

.med-opacity{
  opacity: 0.8;
}

.no-padding{
  padding: 0 !important;
}

.resize-vertical{
  resize: vertical !important;
}

hr.dark{
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  background-image: linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  margin: 1.5rem auto;
  border: 0;
  width: 50%;
  height: 4px;
}

hr.light{
  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));
  background-image: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));
  background-image: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));
  background-image: linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));
  margin: 1.5rem auto;
  border: 0;
  width: 50%;
  height: 4px;
}

input:-webkit-autofill {
  background-color: #222 !important;
  -webkit-box-shadow:0 0 0 50px #222 inset;
  -webkit-text-fill-color: #eee;
}

.section-container{
  overflow: hidden;
  padding: 0 5% 3rem;
  min-height: 100vh;
  background-color: rgb(250,250,250);
  width: 100%;
}

.tag-container{
  padding: 0.5rem 0;
}

.chip{
  margin: 0.5rem 0.25rem 0 0;

  & i{
    padding: 0;
    cursor: pointer;
    margin-left: 0.5rem;
  }
}

main{
  padding-left: 240px;
  width: 100vw;
}

@media only screen and (max-width : 992px) {
  main{
    padding-left: 0;
  }
}

@media only screen and (max-width : 590px){

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

/*  div.header-bg{
    margin-top: 70px;
  }*/
}

