@import "font-awesome";
@import "materialize/components/color";
$primary-color: color("grey", "darken-2") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("orange", "darken-3") !default;
$success-color: color("teal", "base") !default;
$error-color: color("red", "lighten-1") !default;
$link-color: color("orange", "darken-1") !default;
$background-color: rgb(250,250,250);
@import "materialize";
@import "action_plan";
@import "calendar";
@import "category";
@import "grid";
@import "layouts";
@import "projects";
@import "users";
@import "resources";
@import "sessions";
@import "dashboard";
@import "klass";


body{
	background-color: #222;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Roboto', helvetica, sans-serif;
}

.section-container{
  overflow: hidden;
  padding: 2rem 20px 3rem;
  min-height: calc(100vh - 4rem);
  background-color: $background-color;
  width: 100%;
}

strong{
  font-weight: 700;
}

nav{
  background-color: #343434;
  padding: 0 40px;

  a.bc{
    float: left;
  }

  i.bc, a.bc{
    display: inline-block !important;
    height: inherit !important;
    line-height: inherit !important;
    opacity: 0.6;
  }
}

.tabs, .tab{
  line-height: 60px !important;
  height: 60px !important;
  font-weight: 400;
}

.select-dropdown li span{
  color: #222;
  font-size: 0.85rem;
  padding: 0.75rem;
}

a, button{
  text-decoration: none;
  color: inherit;
  &::visited{
    color: #789;
  }

  &:focus{
    outline-style: none;
  }
}

input, textarea{
  margin-bottom: 0px !important;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

label{
  font-weight: 300;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h6{
  font-size: 1.25rem;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

hr{
  width: 10%;
  opacity: 0.7;
  margin: 1rem auto 2rem;
}

[type="checkbox"] + label{
  text-transform: none;
  color: #777;
  font-weight: 400;
  font-size: 1.05rem;
}

.success{
  color: #5f9ea0;
  font-size: 12px;
  padding: 20px;
}

.error{
  color: #cd5c5c;
  font-size: 12px;
  padding: 20px;
}
      
.error-message{
  color: #f44336;
  font-size: 0.75rem;
}

.thin{
  font-weight: 300;
}

.normal{
  font-weight: 400;
}

.thick, .bold{
  font-weight: 700;
}

i.fa{
  padding-right: 10px;
}

.med-opacity{
  opacity: 0.8;
}

.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

.capitalize{
  text-transform: capitalize;
}
.resize-vertical{
  resize: vertical !important;
}

hr.dark{
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  background-image: linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0));
  margin: 1.5rem auto;
  border: 0;
  width: 50%;
  height: 4px;
}

hr.light{
  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));
  background-image: -o-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));
  background-image: -moz-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));
  background-image: linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,0));
  margin: 1.5rem auto;
  border: 0;
  width: 50%;
  height: 4px;
}

.tag-container{
  padding: 0.5rem 0;
}

.chip{
  margin: 0.5rem 0.25rem 0 0;

  & i{
    padding: 0;
    cursor: pointer;
    margin-left: 0.5rem;
  }
}

#login-signup-container{

  input:-webkit-autofill {
    background-color: #222 !important;
    -webkit-box-shadow:0 0 0 50px #222 inset;
    -webkit-text-fill-color: #eee;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  input{
      &::selection {
        background: #aaa;
      }
      &::-moz-selection {
        background: #aaa
      }
      &:-webkit-autofill {
        -webkit-text-fill-color: #222 !important;
      }
    }
  #new_user{
    & input{
      &::selection {
        background: #aaa;
      }
      &::-moz-selection {
        background: #aaa
      }
      &:-webkit-autofill {
        -webkit-text-fill-color: white !important;
      }
    }
  }

}

main{
  padding-left: 240px;
  width: 100vw;
}

.small-input{
  width: 500px;
  margin-top: 1rem;
  padding: 0 0.75rem;
}

@media only screen and (max-width : 992px) {
  main{
    padding-left: 0;
  }

  nav .brand-logo{
    left: 0;
    transform: none;
  }
}

@media only screen and (max-width : 590px){

.small-input{
  width: 100% !important;
}

  nav{
    padding: 0 15px;
  }

  nav .brand-logo{
    font-size: 1rem;
    line-height: 56px;

    i{
      font-size: 1rem;
    }
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  .section-container{
    padding-left: 0px;
    padding-right: 0px;
  }

}

