// AGENDA VIEW

#agenda-calendar{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.agenda-date{
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
}

.agenda-events{
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}

.agenda-event{
  padding: 10px 0;
  border-top: 1px solid #aaa;
  cursor: pointer;

  .row{
    margin-bottom: 0;
  }
}

.event-instructor{
  color: #888;
}

.agenda-event-time{
  min-width: 10px;
  margin-top: 0.5rem;
  color: #555;
  text-align: center;
  font-size: 0.7rem;

  .time{
    font-size: 0.9rem;
  }
}

.event-description{
  padding-top: 30px;
  display: none;
}

@media screen and (max-width: $small-screen){
  .agenda-event-time div{
    display: inline-block;
  }
}

// WEEK VIEW

#week-calendar{
  @include transition(200ms);
  padding: 0;
  min-height: calc(100vh - 124px);

  .row{
    margin-bottom: 0;
  }

  .weekday{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    padding: 1rem 0;
  }
}

.row .col.m-fifth{
  width: calc(100%/5);
}


.clear{
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.week{
  border-top: 1px solid #aaa;
  border-bottom: 2px solid #aaa;
}

.w1, .w2, .w3, .w4, .w5{
  height: 68px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #fff;

  h6{
    margin: 0;
  }

  &:nth-child(5n){
    border-right: none;
  }
}

.week-item{
  padding: 1rem 0.75rem;

  &.col{
    padding: 1rem 0;

    &:first-child{
      padding-right: 0.75rem;
    }

    &:last-child{
      border-left: 1px solid #aaa;
      padding-left: 0.75rem;
    }
  } 
}

.week-navigation{
  text-transform: uppercase;

  i{
    @include transition(200ms);
    vertical-align: middle;
    font-size: 2.5rem;
    padding: 1rem;
  }

  .next-week, .last-week{
    cursor: pointer;
    &:hover{
      color: purple;
    }
  }
}

.calendar-spinner{
  visibility: hidden;
  // display: none;
}

@media screen and (max-width: $medium-screen){
  h5.weekday{
    font-size: 1.25rem;
  }
}

@media screen and (max-width: $small-screen){
  h5.weekday{
    font-size: 0.8rem;
  }

  .w1, .w2, .w3, .w4, .w5{
    height: 41px;
  }

  .week-item{
    padding: 0.5rem;
    font-size: 0.7rem;

    h6{
      font-size: 0.8rem;
    }

    &.col{
      padding: 0.5rem 0;

      &:first-child{
        padding-right: 0rem;
      }

      &:last-child{
        border-left: 1px solid #aaa;
        padding-left: 0rem;
      }
    } 
  }

  .row .col.m-fifth{
    padding: 0;
  }

  .week-navigation{

    i{
      font-size: 1.75rem;
      padding: 0.5rem;
    }

  }

}

