// AGENDA VIEW

#agenda-calendar{
  padding-left: 0 !important;
  padding-right: 0 !important;

  h2{
    text-align: center;
  }
}

.agenda-date{
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
  text-transform: uppercase;
}

.agenda-events{
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}

.agenda-event{
  padding: 10px 0;
  border-top: 1px solid #aaa;

  .row{
    margin-bottom: 0;
  }
}

.event-instructor{
  color: #888;
}

.agenda-event-time{
  min-width: 10px;
  margin-top: 0.5rem;
  color: #555;
  text-align: center;
  font-size: 0.7rem;

  .time{
    font-size: 0.9rem;
  }
}

.event-description{
  padding-top: 30px;
  display: none;

  a {
    color: $secondary-color;
    &:hover{
      text-decoration: underline;
    }
  }
}

.event-attachments{
  padding-top: 15px;
  font-weight: 500;
}

.attachment-list{
  padding-left: 20px;
}

.attachment-list li{
  list-style-type: disc !important;

  a{
    font-size: 0.9rem;
    cursor: pointer;
    text-decoration: underline;
  }
}

@media screen and (max-width: $small-screen){
  .agenda-event-time div{
    display: inline-block;
  }
}

// WEEK VIEW

#week-calendar{
  transition: 200ms;
  padding: 50px 0;

  .row{
    margin-bottom: 0;
  }

  .weekday{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    padding: 1rem 0;
  }

  .row .col.m-fifth{
    width: calc(100%/5);
    padding: 0;
  }


  .clear{
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  .week{
    border-top: 1px solid #aaa;
    border-bottom: 2px solid #aaa;
  }

  .multiple-week-item{
    height: 71px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    padding: 15px 10px;
    box-sizing: border-box;
    background-color: #fff;

    h6{
      margin: 0;
    }

    &:last-child{
      // border-right: none;
    }

  }

  .week-item{
    padding: 15px 20px;
    height: 40px;
    box-sizing: content-box;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: #fff;

    h6{
      margin: 0;
    }

    &.col{
      padding: 1rem 0;
    }
  }

  .week-navigation{
    text-transform: uppercase;

    i{
      transition: 200ms;
      vertical-align: middle;
      font-size: 2.5rem;
      padding: 1rem;
    }

    .next-week, .last-week{
      cursor: pointer;
      &:hover{
        color: purple;
      }
    }
  }
}


@media screen and (max-width: $medium-screen){
  h5.weekday{
    font-size: 1.25rem;
  }
}

@media screen and (max-width: $small-screen){
  h5.weekday{
    font-size: 0.8rem;
  }

  .week-item{
    padding: 0.5rem;
    font-size: 0.7rem;
    height: 41px;

    h6{
      font-size: 0.8rem;
    }

    &.col{
      padding: 0.5rem 0;

      &:first-child{
        padding-right: 0rem;
      }

      &:last-child{
        border-left: 1px solid #aaa;
        padding-left: 0rem;
      }
    }
  }

  .row .col.m-fifth{
    padding: 0;
  }

  .week-navigation{

    i{
      font-size: 1.75rem;
      padding: 0.5rem;
    }

  }

}
