#dashboard{
  display: flex;
  justify-content: space-between;
  min-height: auto;

  @media #{$small-and-down} {
    flex-direction: column;
  }

  .collapsible {
    max-width: 650px;
    width: 100%;
    margin: 0;
    margin-right: 50px;

    .collapsible-header {
      line-height: 4rem;
      height: 4rem;
      font-size: 1.15rem;
      font-weight: 500;

      i {
        line-height: 4rem;
        font-size: 2rem;
      }
    }

    h6 {
      font-weight: 500;
    }

    @media #{$small-and-down} {
      margin: 0;
      margin-bottom: 25px;
    }
  }

  .things-to-do{
    width: 70%;

    @media #{$small-and-down} {
      max-width: none;
    }
  }

  .card{
    margin-top: 0;
    max-height: 80vh;
    overflow-y: scroll;

    .card-action-item{
      color: #777;
      position: relative;

      &:hover .complete{
        opacity: 1;
      }

      &:last-child .action-item{
        border-bottom: none;
      }
    }

    .empty-action-items{
      text-align: center;
      font-style: italic;
      padding: 20px 10px;
    }

    .complete{
      opacity: 0;
      text-align: center;
      display: block;
      font-size: 12px;
      transition: 200ms;

      &:hover{
        color: $secondary-color;
      }
    }

    .weekday{
      float: left;
      width: 90px;
      text-align: center;
      height: 70px;
      padding: 5px 5px 0;
      font-size: 0.85rem;
    }

    .action-item{
      float: left;
      width: calc(100% - 90px);
      padding: 10px;
      padding-top: 4px;
    }

    .name{
      font-size: 1.2rem;
      color: #333;
    }

    .desc{
      padding-bottom: 5px;
    }
  }

  .card-header{
    font-weight: 500;
    font-size: 1.15rem;
    padding: 15px;
    color: #333;
    border-bottom: 3px solid $background-color;
  }
}

@media screen and (max-width: $medium-screen){
  .manager{
    width: calc(100% - 30px) !important;
    margin: 0 15px !important;
  }

}
