body{
  margin: 0;
  overflow-x: hidden;
  background-color: $background-color;
  font-family: 'Roboto', helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


main{
  padding-left: 240px;
  width: 100vw;

  @media #{$medium-and-down} {
    padding-left: 0px;
  }
}

.dropdown-content {
  margin: 0 !important;
}

.col-padding {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

h4 {
  color: $primary-color;
}

a[href^="mailto:"]:hover {
  text-decoration: underline;
}

.mce-container {
  border-radius: 3px;
}

.card {
  border-radius: 4px;
}

.pagination {
  text-align: center;
}

.collection {
  overflow: visible !important;
  border-radius: 3px;
  margin: 0 !important;
}

.collection-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

fieldset{
  border: none !important;
  padding: 0;
  margin: 0;
}

form.one-page {
  max-width: 700px;
}

.section-container{
  overflow: hidden;
  padding: 20px;
  min-height: 50vh;
  background-color: $background-color;
  width: 100%;

  @media #{$small-and-down} {
    padding: 10px;
  }
}

.card .card-image img{
  border-radius: 0px !important;
}

.thin-container{
  max-width: 700px;
  padding: 0 75px;
  margin: 0 auto;
  box-sizing: content-box;

    @media #{$small-and-down} {
      padding: 30px;
    }
}

strong{
  font-weight: 700;
}

.tabs, .tab{
  line-height: 60px !important;
  height: 60px !important;
  font-weight: 400;
}

.select-dropdown li span{
  color: #222;
  font-size: 0.85rem;
  padding: 0.75rem;
}

a, button{
  text-decoration: none;
  color: inherit;
  &::visited{
    color: #789;
  }
}

input, textarea{
  margin-bottom: 0px !important;
}

label{
  font-weight: 300;
  text-transform: uppercase;
}

h6{
  font-size: 1.25rem;
}

ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

hr{
  width: 10%;
  opacity: 0.7;
  margin: 1rem auto 2rem;
}

[type="checkbox"] + label{
  text-transform: none;
  color: #777;
  font-weight: 400;
  font-size: 1.05rem;
}

.success{
  color: #5f9ea0;
  font-size: 12px;
  padding: 20px;
}

.error{
  color: #cd5c5c;
  font-size: 12px;
  padding: 20px;
}

.error-message{
  color: #f44336;
  font-size: 0.95rem;
  padding-top: 5px;
}

.thin{
  font-weight: 300;
}

.normal{
  font-weight: 400;
}

.thick, .bold, .strong{
  font-weight: 700;
}

i.fa{
  padding-right: 10px;
}

.med-opacity{
  opacity: 0.8;
}

.no-padding{
  padding: 0 !important;
}

.no-margin{
  margin: 0 !important;
}

.capitalize{
  text-transform: capitalize;
}

.resize-vertical{
  resize: vertical !important;
}

.tag-container{
  padding: 0.5rem 0;
}

.chip{
  margin: 0.5rem 0.25rem 0 0;

  & i{
    padding: 0;
    cursor: pointer;
    margin-left: 0.5rem;
  }
}

.small-input{
  width: 500px;
  margin-top: 1rem;
  padding: 0 0.75rem;
}

@media only screen and (max-width : 992px) {

  nav .brand-logo{
    left: 0;
    transform: none;
  }
}

@media only screen and (max-width : 590px){

  .small-input{
    width: 100% !important;
  }

  nav{
    padding: 0 15px !important;

    .breadcrumb {
      font-size: 14px;

      &:before {
        margin: 0;
      }
    }
  }

  nav .brand-logo{
    font-size: 1rem;
    line-height: 56px;

    i{
      font-size: 1rem;
    }
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

}
