@import "lib";

section#goals-header{
	position: absolute;
	top: 0;
	left: 250px;
	height: 70px;
	width: calc(100vw - 250px);
	background-color: #333;
	color: orange;
	font-size: 1.5rem;
	line-height: 70px;
	padding: 0 4rem;
}

section#goals{
  width: calc(100vw - 500px - 4rem);
  background-color: #eee;
  position: absolute;
  top: 70px;
  left: 250px;
  padding: 2rem;
}

section#goals-side-panel{
	width: 250px;
	background-color: rgba(238,238,238,0.5);
	height: calc(100vh - 70px);
	position: fixed;
	right: 0;
	top: 70px;
}

div.add-goal{
	background-color: #777;
	padding: 1rem 0;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	i{
		padding-right: 10px;
	}
}

div.goal-container{
	margin-top: 2rem;
	padding: 2rem;
	background-color: #fff;
  @include prefixer(box-shadow, 0 0 20px rgba(0, 0, 0, 0.4));
}

div.goal-title{
	font-weight: 700;
	font-size: 1.2rem;
}

div.goal-container-footer{
	display: block;
	height: 4rem;
}

div.goal-inner-container-footer{
}

.goal-label{
	font-size: 0.8rem;
	color: #777;
}


.left{
	float: left;
}

.right{
	float: right;
	text-align: right;
}

.goal-progress-container{
	height: 3rem;
	width: 100%;
	background-color: rgba(97,198,216, 0.5);
	border-radius: 3rem;
	text-align: center;
	color: #fff;
	line-height: 3rem;
	overflow: hidden;
}

.progress{
	background-color: rgba(97,198,216, 1);
	height: inherit;
	color: #fff;
	width: 50%;
	text-align: center;
	line-height: 3rem;
}