#klass{

  table{

    th{
      border-radius: 0;
      font-weight: 400;
    }

    td{
      padding: 15px 10px;
      vertical-align: text-top;
    }

    .secondary {
      color: #555;
    }

    .name-desc, .student-name{
      text-align: left;
      padding-left: 20px;
      width: 600px;
    }

    .student-name{
      width: auto;
    }

    .name{
      font-weight: 500;
      font-size: 1.25rem;

      &:hover a i{
        opacity: 1;
      }


      a{
        i{
          transition: 200ms;
          opacity: 0;
          color: #333;
          padding: 0;
          padding-left: 10px;
          &:hover{
            color: $secondary-color;
          }
        }
      }
    }

  }

}

#klasse-modal a:hover{
  text-decoration: underline;
}
