.side-nav{
  width: 240px;
  padding-top: 50px;

  .logo{
    display: block;
    margin: 0 auto 50px;
    width: 70%;
  }

  .active-tab{
    background-color: #333;
    color: #ddd !important;
    opacity: 1;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: $secondary-color;
  }

  .sign-out-student {
    height: auto;
    line-height: normal;
    color: white;
    background-color: $secondary-color !important;
    margin-bottom: 25px;
    padding: 20px 0;
    text-align: center;
    font-weight: 400;
  }

	li{

		padding: 0 !important;

		a{
			height: auto;
	    display: block;
			padding: 10px 15px !important;
	    padding-left: 35px !important;
		  font: 300 1.2rem 'Roboto', helvetica, sans-serif;

		  i{
        width: 30px;
        height: auto;
        margin: 0;
        line-height: normal;
        color: inherit;
        text-align: center;
		  }

		  &:hover{
		  	opacity: 1;
		  	color:#ddd !important;
		  	background-color: #333;
		  }
		}

    &.active-tab a{
      padding-left: 30px !important;
    }

	}
}

nav {
  background-color: #343434;
  padding: 0 40px;

  a.bc {
    float: left;
  }

  i.bc {
    margin: 0;
    margin-left: 15px;
  }

  i.bc, a.bc {
    display: inline-block !important;
    height: inherit !important;
    line-height: inherit !important;
    opacity: 0.6;
  }
}

.button-collapse{
  padding-top: 5px;
	padding-left: 10px;
  display: block;
  background-color: $primary-color-dark;
	i{
		font-size: 2.5rem !important;
	}
}

.ellipsis-link i{
  padding: 0 !important;
  width: 40px;
  text-align: center;
}

.dropdown-wrapper{
  width: 40px;
  float: right;
  position: relative;

  &:after{
    content: "";
    clear: both;
    display: table;
  }
}

ul.dropdown{
  position: absolute;
  top: 64px;
  right: 0;
  display: none;

  li{
    display: block;
    background-color: #343434 !important;
    width: 150px;

    a{
      height: 35px;
      line-height: 35px;
      font-weight: 300;
      color: #ddd;
      transition: 200ms;

      &:hover{
        background-color: #555;
      }
    }
  }
}
