@import "lib";

section#side-panel{
	width: 250px;
	position: fixed;
	height: 100vh;
	background-color: #222;
}

div.side-title{
	padding-top: 20px;
	color: #aaa;
  font: 400 2rem 'Roboto', helvetica, sans-serif;
  text-align: center;
	img{
		height: 1.5rem;
	}
}

div.menu{
	padding-top: 70px;
}

div.menu-bottom{
	position: absolute;
	bottom: 20px;
	width: 250px;
}

ul.menu{
	li.menu-item{
		padding: 8px 15px;
	  font: 300 1.2rem 'Roboto', helvetica, sans-serif;
	  color: #aaa;
	  a{
	  	padding-left: 20px; 
	  }
	  i{
	  	padding-right: 15px;
	  }

	  &:hover{
	  	color:#eee;
	  	background-color: #333;
	  }
	}
}

/* HEADER */

section#header{
	float: right;
	width: calc(100vw - 250px);
}

div.header-bg-wrapper{
	height: 300px;
	width: 100%;
	background-color: blue;
	background-image: image-url('tibetan-mountains.jpg');
  background-size: cover;

  div.header-bg{
  	width: 100%;
  	height: 100%;
  	background-color: rgba(0,0,0, 0.7);

  	.header-container{
  		height: 100%;
  		width: 70%;
  		margin: 0 auto;
      position: relative;

  	}
  }

  div.avatar-column{
    position: absolute;
    top: 85px;
    display: inline-block;
    color: #333;
    width: 130px;
  }

  img.edit-avatar{
    height: 120px;
    width: 120px;
    border-radius: 10rem;
    border: 5px solid #61c6d8;
  }

  input[type="file"] {
      display: none;
  }

  label.custom-file-upload{
    @include transition(100);
    position: absolute;
    top: 0;left:0;
    height: 120px;
    width: 120px;
    border-radius: 10rem;
    display: block; 
    border: 5px solid #61c6d8;
    background-color: rgba(0,0,0,0.5);
    color: #eee;
    font: 400 0.7rem 'Roboto', sans-serif;
    line-height: 180px;
    text-align: center;
    i{
      @include center;
      color: #eee;
      font-size: 2rem;
      height: 2rem;
      text-align: center;


    }

    &:hover{
      background-color: rgba(0,0,0,0.7);
      cursor: pointer;
    }


  }
}

div.input-container{
  position: absolute;
  padding: 2rem 0;
  top:0;
  left: 170px;
}

div.field{
  position: relative;
  display: inline-block;
  margin-right: 10px;

  label{
    padding-left: 10px;
    color: #eee;
    font-size: 0.7rem;
  }

  input, textarea{
    width: 200px;
    padding: 0.5rem;
    background-color: rgba(238,238,238,1);
    border: 1px solid #aaa;
    margin-top: 5px;
    color: #777;
    font-size: 0.8rem;
  }

  textarea{
    width: 600px;
  }

  .sm{
    width: 150px;
  }
}

div.button-fields{
  position: absolute;
  right: 1rem;
  top: 1.5rem;

  button{
    @include transition(100ms);
    display: block;
    background-color: #222;
    border: none;
    color: #fff;
    width: 120px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 22.5px;
    i{
      padding-right: 10px;
    }

    &:hover{
      cursor: pointer;
      background-color: #333;
    }
  }  
}

.header-container > form.edit_user{
  display: none;
}

div.student-name{
  position: absolute;
  top: 70px;
  left: 200px;
  font: 400 2rem 'Roboto', helvetica, sans-serif;
  color: #61c6d8;
}

div.student-description{
  position: absolute;
  top: 120px;
  left: 200px;
  font: 300 0.9rem 'Roboto', helvetica, sans-serif;
  color: #eee;
}

div.social-container{
  position: absolute;
  top: 220px;
  left: 200px;
}

span.social{
  color: #eee;
  padding-right: 3rem;
  font: 300 0.9rem 'Roboto', helvetica, sans-serif;

  i{
    font-size: 1.2rem;
    padding-right: 10px;
  }
}

a.student-edit{
  @include transition(200ms);
  position: absolute;
  right: 2rem;
  font: 400 1.1rem 'Roboto', helvetica, sans-serif;
  top: 1rem;
  color: #eee;

  i{
    padding-left: 5px;
  }

  &:hover{
    color: orange;
  }
}

