@import "lib";

section#portfolios{
  position: relative;
  top: 300px;
  left: 250px;
  min-height: calc(100vh - 300px);
  background-color: #eee;
  width: calc(100vw - 250px);
}

div.porfolio-grid{
  width: calc(100vw - 250px);
  background-color: #eee;
  position: absolute;
  padding: 3rem 0;
  .col{
    @include span-columns(4, 3);
  }
}




