.portfolio {

  .info{

    .header-bg{
      width: 100%;
      background-color: #eee;
      background-image: image-url('tibetan-mountains.jpg');
      background-size: cover;

      .dark-overlay{
        background-color: rgba(0,0,0, 0.2);
      }

      .header-container{
        position: relative;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 7vh 30px;

        h2{
          margin-bottom: 0;
          font-weight: 300;
          color: #eee;
        }
      }

      .description{
        font-size: 1.2rem;
      }

      .student-avatar{
        width: 100%;
        position: relative;
        max-width: 250px;
        max-height: 250px;
        margin: 0 auto;

        &::before{
          content: "";
          display: block;
          padding-top: 100%;
        }

        img{
          height: 100%;
          width: 100%;
          position:  absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          object-fit: cover;
          border-radius: 10rem;
          border: 5px solid #000;
        }
      }

      .social-media{

        text-align: center;

        .item{
          display:inline-block;
          padding: 0 20px;
        }

        i{
          font-size: 1.5rem;
        }
        a{
          opacity: 0.8;
        }
        a:hover{
          transition: 200ms;
          opacity: 1;
        }
      }

      a.student-edit{
        position: absolute;
        right: 1rem;
        font: 400 1.1rem 'Roboto', helvetica, sans-serif;
        top: 1rem;
        color: #eee;

        i{
          padding-left: 5px;
        }
      }

    }

  }


}

.unfound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;


  h4 {
    color: #aaa;
  }

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;

    .material-icons {
      font-size: 15vw;
      color: #bbb;
    }

    .close {
      font-size: 5vw;
      color: #ccc;
    }
  }

}
