// FORM
.project-nav{
  display: block;
  position: fixed;
  top:0;
  width: 75px;
  height: 100vh;
  color: $primary-color;
  line-height: 100vh;
  text-align: center;
  font-size: 10vh;
  transition: 500ms;

  @media #{$medium-and-down} {
    width: 50px;
  }

  &.left-arrow{
    left: 0px;
    text-align: right;
  }

  &.right-arrow{
    right: 0;
  }

}

.public-project .project-nav.left-arrow{
  left: 0px;
}

a.project-link{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

.add-project{
  transition: 200ms;
  height: 150px;
  background-color: #fff;
  font-weight: 400;
  color: #333;
  text-align: center;

  i{
    padding-top: 20px;
    font-size: 4rem;
    color: #333;
    margin: 0 auto;
  }

}

.project-wrapper{
  position: relative;
  border-top: 10px solid #000;
  font: 300 0.9rem 'Roboto', helvetica, sans-serif;

  .card-image img{
    max-height: 400px;
    object-fit: cover;
  }
}

.show-display-image{
  margin: 2.5rem 0;

  img{
    margin: 0 auto;
    max-height: 100vh;
    object-fit: cover;
  }
}

.project-body{
  font-size: 1.2rem;
  font-weight: 300;

  ul {
    display: block;
    list-style-type: disc !important;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;

    li {
      list-style-type: disc !important;
    }
  }
}

.project-content{
  opacity: 0.65;
}

.project-nav{
  text-align: center;
  font-size: 0.9rem;
  i{
    font-size: calc(100vw/12);
  }
}

.btn-floating{
  i.fa{
    padding: 0;
  }
}

.show-tag{
  padding-top: 10px;
}
