@import "lib";

a.project-link{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

div.add-project{
  @include transition(100ms);
  height: 150px;
  background-color: #fff;
  font-weight: 400;
  color: #777;
  text-align: center;

  i{
    padding-top: 20px;
    font-size: 4rem;
    color: #777;
    margin: 0 auto;
  }

}

div.project-wrapper{
  position: relative;
  border-top: 10px solid #61c6d8;
  font: 300 0.9rem 'Roboto', helvetica, sans-serif;

  .card-image img{
    height: 250px;
    object-fit: cover;
  }
}

/* NEW */

form.new-project{
  color: #444;
}

/* SHOW */


