/* PROJECTS HEADER */

#header{

  .header-bg{
    width: 100%;
    background-color: #eee;
    background-image: image-url('tibetan-mountains.jpg');
    background-size: cover;

    .dark-overlay{
      background-color: rgba(0,0,0, 0.3);
    }

    .header-container{
      position: relative;
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      padding: 7vh 30px;

      h2{
        margin-bottom: 0;
      }
    }

    .student-avatar{
      width: 100%;
      position: relative;
      max-width: 250px;
      max-height: 250px;
      margin: 0 auto;

      &::before{
        content: "";
        display: block;
        padding-top: 100%;
      }

      img{
        height: 100%;
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: cover;
        border-radius: 10rem;
        border: 5px solid #61c6d8;
      }
    }

    .social-media{

      i{
        font-size: 1.5rem;
      }
      a{
        opacity: 0.8;
      }
      a:hover{
        @include transition(200ms);
        opacity: 1;
      }
    }

    a.student-edit{
      @include transition(200ms);
      position: absolute;
      right: 1rem;
      font: 400 1.1rem 'Roboto', helvetica, sans-serif;
      top: 1rem;
      color: #eee;

      i{
        padding-left: 5px;
      }

      &:hover{
        color: orange;
      }
    }

  }

}


// FORM
fieldset{
  border: none !important;
}


.project-nav{
  display: block;
  position: fixed;
  top:0;
  width: 75px;
  height: 100vh;
  color: $primary-color;
  line-height: 100vh;
  text-align: center;
  font-size: 10vh;
  transition: 500ms;

  @media #{$medium-and-down} {
    width: 50px;
  }


  &.left-arrow{
    left: 240px;
    text-align: right;
    @media #{$medium-and-down} {
      left: 0px;
    }
  }

  &.right-arrow{
    right: 0;
  }

}

.public-project .project-nav.left-arrow{
  left: 0px;
}

a.project-link{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

.add-project{
  @include transition(100ms);
  height: 150px;
  background-color: #fff;
  font-weight: 400;
  color: #333;
  text-align: center;

  i{
    padding-top: 20px;
    font-size: 4rem;
    color: #333;
    margin: 0 auto;
  }

}

.project-wrapper{
  position: relative;
  border-top: 10px solid #61c6d8;
  font: 300 0.9rem 'Roboto', helvetica, sans-serif;

  .card-image img{
    max-height: 400px;
    object-fit: cover;
  }
}

/* NEW */

form.new-project{
  color: #444;
}

/* SHOW */

.show-display-image{
  margin: 2.5rem 0;

  img{
    margin: 0 auto;
    max-height: 100vh;
    object-fit: cover;
  }
}

.project-body{
  font-size: 1.2rem;
  font-weight: 300;
}

.project-content{
  opacity: 0.65;
}

.project-nav{
  text-align: center;
  font-size: 0.9rem;
  i{
    font-size: calc(100vw/12);
  }
}

.btn-floating{
  i.fa{
    padding: 0;
  }
}

.show-tag{
  padding-top: 10px;
}

