.resource-category{
	margin: 2rem 0 1rem;
	background-color: #fff;
	border-left: 5px solid purple;

	a{
		font-size: 1.2rem;
		padding: 1.3rem 2rem;
		display: block;
	}
}

.resource-item{
	margin-left: 5% !important;
	font-size: 1.1rem;
	& li{
		padding: 0.5rem 0;
	}
}