.resource-category{
	margin: 2rem 0 1rem;
	background-color: #fff;
	border-left: 5px solid purple;

	a{
		font-size: 1.2rem;
		padding: 1.3rem 2rem;
		display: block;
	}
}

.resource-item{
	min-height: 325px;
	font-size: 1.1rem;
	& li{
		padding: 0.5rem 0;

		.right{
	    @include transition(200ms);
			font-size: 0.9rem;
			color: #777;

			&:hover{
				font-size: 1rem;
				color: #222;
			}
		}

		p{
			margin-top: 0;
			font-size: 0.9rem;
			color: #777;
			overflow-wrap: break-word;
		}
	}
}

@media #{$small-and-down} {
	.resource-item{
		min-height: auto;
	}
}

