section#home-1{
	background-image: image-url('signupbg.png');
	background-size: cover;
	min-height: 100vh;
	padding-bottom: 2rem;
	overflow: auto;
}

div#login-signup-container{
	background-color: #222;
	border-radius: 3px;
	max-width: 500px;
	margin: 10vh auto 10vh;
	padding-bottom: 2rem;
	padding-top: 1rem;
	position: relative;
	box-shadow: 0px 0px 25px #333;
}

form#new_user{
	width: 90%;
	margin: 0 auto;
	color: #bbb;
	font-weight: 300;
}

button.login-submit{
	width: 100%;
}


div.login-refused{
	margin: 15px auto;
	text-align: center;
	background-color: rgba(255,255,255,0.95);
	width: 100%;
	padding: 15px 0;
	color: #777;
	font: 300 0.9rem 'Roboto', helvetica, sans-serif;
}