form.edit-student{
	color: #444;

	.custom-file-upload{
		width: 150px;

	  input[type="file"] {
	      display: none;
	  }
	}
}

.avatar-column{
  width: 150px;
	padding: 10px;

  img{
  	display: block;
  	margin: 0 auto;
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 10rem;
    border: 5px solid teal;
  }

}
