form.edit-student{
	color: #444;

	.custom-file-upload{
		width: 150px;

	  input[type="file"] {
	      display: none;
	  }
	}
}

#login-signup-container form{
  width: 90%;
  margin: 0 auto;
  color: #bbb;
  font-weight: 300;
}

.avatar-column{
  width: 150px;
	padding: 10px;

  img{
  	display: block;
  	margin: 0 auto;
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 10rem;
    border: 5px solid teal;
  }

}

.delete-user{
  width: 100%;
  padding: 10px 0;
  color: teal;
  font-size: 1.2rem;

  & span{
    font-size: 1rem;
    color: #777;
  }
}
