<section id="activity-modal">
  <%= form_for [@user, @activity] do |f| %>
    <%= f.text_field :name, placeholder: "NAME", class: 'modal-input' %>
    <%= f.text_area :description, placeholder: "SHORT DESCRIPTION", rows: 3, class: 'modal-input' %>
    <%= f.submit "ADD ACTIVITY", class: 'modal-submit' %>
  <% end %>
</section>

<div class="modal-wrapper"></div>


