<nav>
  <div class='nav-wrapper'>
    <%= link_to 'Dashboard', admin_dashboard_path, class: 'breadcrumb' %>
    <%= link_to 'Manage Classes', klasses_path, class: 'breadcrumb' %>
    <span class='breadcrumb'>Edit Class</span>
  </div>
</nav>

<section class='section-container'>
  <div class='row'>
    <h4 class='col s12'>Edit Class</h4>
  </div>

  <div class='row'>
    <%= render 'form' %>
  </div>
</section>
