<nav>
  <div class="nav-wrapper">
    <%= link_to "Admin Dashboard", admin_dashboard_path, class: "breadcrumb" %>
    <span class="breadcrumb">Manage Classes</span>
  </div>
</nav>

<%= react_component "Klasses", {} %>
