<nav>
  <div class='nav-wrapper'>
    <%= link_to 'Admin Dashboard', admin_dashboard_path, class: 'breadcrumb' %>
    <%= link_to 'Manage Students', klasses_path, class: 'breadcrumb' %>
    <span class='breadcrumb'>New Class</span>
  </div>
</nav>

<section class='section-container'>
  <div class='row'>
    <h3 class='teal-text col s12'>New Class</h3>
  </div>
  <div class='row'>
    <%= render 'form' %>
  </div>
</section>
